section {
  text-align: center;
}

/* Hace que la imagen y el video queden en paralelo */
section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* separación entre ambos */
  flex-wrap: wrap; /* para que se acomode bien en móviles */
}

section:nth-of-type(2) img,
section:nth-of-type(2) iframe {
  max-width: 45%;
  height: auto;
}

